#look p{
margin-top: 20px;
}
#shenkar_logo{
	width: 30px ;
    height: 30px;
	background-image: url("../images/shenkar.png");
	background-repeat: no-repeat;
    display:block;
    background-size: contain;
    margin-top: 20px;

}
#look{
    display: flex;
    flex-direction: row;
    color: #000;
    font-family: Lato;
    margin-top: 1px;

}